/* 
  Header styles 
*/
:local(.styles) {
	width: 100%;
	position: fixed;
	z-index: 1;
	color: #000;
	padding-left: 1.8%;
	.col-3{
		svg{
			fill:rgba(68,69,62,0.6);
			width: 80px;
		}
	}
	.admin{
		margin-top: 10px;
		font-size: 12px;
		.user{
			font-size:16px;
		}
		.out{
			margin-left: 10px;
		}
	}
	.svg_o:hover{
		fill:#FFF;
	}
	.svg_n:hover{
		fill:rgba(68,69,62,1);
	}
}